.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgb(214, 147, 1);
    color: white;
    text-align: center;
    
}

.tag2 {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgba(214, 32, 0, 0.877);
    color: white;
    text-align: center;
}

.tag3 {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgb(2, 197, 2);
    color: white;
    text-align: center;
}

.tag4 {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.tag5 {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgb(161, 0, 201);
    color: white;
    text-align: center;
}

.tag6 {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgb(66, 0, 248);
    color: white;
    text-align: center;
}